<!doctype html>

<html lang="en" ng-app="jraptors">

<head>
	<title>JR Bibliosoft - Principal</title>
	<meta charset="utf-8">
	
	
	<link rel="stylesheet" type="text/css" href="src/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="src/css/style.css">
</head>


<body>
 
	<header class="navbar navbar-inverse navbar-fixed-top">

		<div class="navbar-inner">
			<div class="container">
				<a class="jr-logo brand" href="#">Java Raptors&reg - BiblioSoft&#8482</a>
          		<div class="nav-collapse collapse">

		            <div class="nav-collapse collapse pull-right">
						<ul class="nav">    
							<li><a href="#"><i class="icon-wrench icon-white"></i> Configurar</a></li>
							<li><a href="#"><i class="icon-user icon-white"></i> javaraptors@gmail.com</a></li>
							<li><button class="btn"><a href="#"><i class="icon-barcode"></i>  <span class="caret"></span></a></button></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</header>

    <div id="main-content" class="container" ng-controller="SearchController">

		<div id="search_group" class="input-prepend input-append">

			<div class="entity-selector btn-group">
				<button class="btn dropdown-toggle btn-inverse" data-toggle="dropdown">Libros <span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li> <a href="#"><i class="icon-book"></i> Libros</a></li>
					<li> <a href="#"><i class="icon-user"></i> Socios</a></li>
					<li> <a href="#"><i class="icon-edit"></i> Autores</a></li>       
					<li> <a href="#"><i class="icon-briefcase"></i> Editoriales</a></li>
				</ul>
			</div>

			<input id="search_query" type="text" class="span5" ng-model="search_query"></input>

			<div class="btn-group">
				<button id="search" class="btn btn-inverse" type="button" ng-click="search()"><i class="icon-search icon-white"></i></button>
				<button class="btn " type="button"><i class="icon-plus"></i></button>
			</div>
  		</div>

		<div id="status_message" class="media">
			{{message}}
		</div>

		
		<div id="results">
			<hr>
	



			<div ng-repeat="result in results" class="media search-result shadow">

				<!-- TODO: detail table -->
				<a class="pull-left" href="#">
					<img class="media-object" ng-src={{result.img}} width=300 height 300>
				</a>
				<div class="media-body">
					<h4 class="media-heading">{{result.title}}</h4>
					<div class="row-fluid">
						<div class="span4">
							<span>ISBN: </span><span>978-0-300-14424-6</span><br>
							<span>Editorial: </span><span><a href="#">{{result.editorial}}</a></span>
						</div>
						<div class="span4">
							<span>Edición: </span><span>{{result.editionNumber}}</span><br>
							<span>Idioma: </span><span>{{result.lang}}</span>
						</div>
						<div class="span4">
							<span>Precio: </span><span>U$S 0.99</span><br>
							<span>Géneros: </span><span><a href="#">Académico</a>, <a href="#">Abogacía</a></span>
						</div>
						<div class="span4">
							<span>Ejemplares: </span><span>{{result.copys.length}}</span><br>
							<span>Valour: </span><span>{{result.val}}</span>
						</div>
					</div>
				</div>
			</div>


		</div>

	</div>



	<footer class="navbar navbar-fixed-bottom">
        <p class="navbar-text"> 
        	&nbsp&nbsp Copyright &reg 2013 - Java Raptors&reg se reserva todos los derechos de replicar, comercializar, 
        	o utilizar este sistema. Este contenido es confidencial y sólo puede ser obtenido bajo autorización.
        </p>
    </footer>

    <script type="text/javascript" src="src/lib/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="src/lib/bootstrap.js"></script>
	<script type="text/javascript" src="src/lib/angular-1.0.7.js"></script>
	<script type="text/javascript" src="src/js/app.js"></script>
	<script type="text/javascript" src="src/js/services.js"></script>
	<script type="text/javascript" src="src/js/animations.js"></script>
	<script type="text/javascript" src="src/js/controllers.js"></script>
	
</body>
</html>