<!doctype html>

<html lang="en" ng-app="jraptors">

<head>
	<title>JR Bibliosoft - Principal</title>
	<meta charset="utf-8">
	
	
	<link rel="stylesheet" type="text/css" href="src/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="src/css/style.css">
</head>


<body>
 
	<header class="navbar navbar-inverse navbar-fixed-top">

		<div class="navbar-inner">
			<div class="container">
				<a class="jr-logo brand" href="#">Java Raptors&reg - BiblioSoft&#8482</a>
          		<div class="nav-collapse collapse">

		            <div class="nav-collapse collapse pull-right">
						<ul class="nav">    
							<li><a href="#"><i class="icon-wrench icon-white"></i> Configurar</a></li>
							<li><a href="#"><i class="icon-user icon-white"></i> javaraptors@gmail.com</a></li>
							<li><button class="btn"><a href="#"><i class="icon-barcode"></i>  <span class="caret"></span></a></button></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</header>

    <div id="main-content" class="container" ng-controller="SearchController">

		<form name="search_form" id="search_group" class="input-prepend input-append">

			<!-- Select -->
			<div class="entity-selector btn-group" ng-controller="SelectEntityController">
				<button class="btn dropdown-toggle btn-inverse" data-toggle="dropdown">
					{{  $location.path() | pathToEntity  }} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#/book" ng-click="reload()" ng-model="test"><i class="icon-book"></i>Libros</a></li>
					<li><a href="#/affiliate" ng-click="reload()"><i class="icon-user"></i> Socios</a></li>
					<li><a href="#/author" ng-click="reload()"><i class="icon-edit"></i> Autores</a></li>       
					<li><a href="#/editorial" ng-click="reload()"><i class="icon-briefcase"></i> Editoriales</a></li>
				</ul>
			</div>

			<input id="search_query" type="text" name="search_query" class="span5" ng-model="search_query" required></input>

			<div class="btn-group">
				<button id="search" class="btn btn-inverse" type="button" ng-click="search()" 
					ng-disabled="search_form.$invalid && search_form.search_query.$dirty">
					<i class="icon-search icon-white"></i>
				</button>
				<button class="btn " type="button"><i class="icon-plus"></i></button>
			</div>
			</br>
			<span class="error" ng-show="search_form.search_query.$error.required">{{message}}</span>
			<span class="error" ng-show="no_result">{{msg_no_result}}</span>
  		</form>

		<hr>

		<div id="results" ng-view></div>

	</div>



	<footer class="navbar navbar-fixed-bottom">
        <p class="navbar-text"> 
        	&nbsp&nbsp Copyright &reg 2013 - Java Raptors&reg se reserva todos los derechos de replicar, comercializar, 
        	o utilizar este sistema. Este contenido es confidencial y sólo puede ser obtenido bajo autorización.
        </p>
    </footer>

    <script type="text/javascript" src="src/lib/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="src/lib/bootstrap.js"></script>
	<script type="text/javascript" src="src/lib/angular-1.0.7.js"></script>
	<script type="text/javascript" src="src/lib/angular-resource-1.0.8.js"></script>
	<script type="text/javascript" src="src/js/filters.js"></script>
	<script type="text/javascript" src="src/js/app.js"></script>
	<script type="text/javascript" src="src/js/services.js"></script>
	<script type="text/javascript" src="src/js/animationsux.js"></script>
	<script type="text/javascript" src="src/js/controllers.js"></script>
	
</body>
</html>