form span {
	font-size: 12px;
}

form > button.delete_entity {
	position: absolute;
	right: 10px;
	z-index: 10;
}

body .ng-invalid.ng-dirty input[type=text]{ 
	border: 1px solid red; 
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}

.ng-invalid input[type=text],
.ng-invalid-required input[type=text],
input:focus:invalid:focus{
	color: black;
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

fieldset {
	position: relative;
}

form .form_book_img {
	position: absolute;
	top: 48px;
	right: 0px;
	height: 300px;
	width: auto;
}

.modal {
	width: 500px;
	height: 200px;
	padding: 20px;
}

.modal  span {
	display: block;
	margin-bottom: 50px;

}

.modal button {
	margin-right: 10px
}

.no-list {
	list-style: none;
}

.horizontal-list > li {
	display: inline-block;
	margin-right: 40px;
	max-width: 110px;
	float: left;
}

.search-result{
	background-color:#f5f5f5;
	border-radius:8px;
	padding:15px;
}

.authors a{
	float: left;
	margin-right: 20px;
}

dt:after {
	content: ":";
}

dd, dt {
	float:left;
}

dd {
	margin-right: 15px;
	margin-left: 5px;
}


footer {
	margin-top: 40px;

}

footer > p {
	text-align: center;
	color: blue;
}

#results img {
	height: 100px;
	width: 100px; 
}


.jr-logo {
	text-shadow: 0 0 0.4em #FFF !important;
	color: #FFF !important;
}

#status_message,
#search_group {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#search_group {
		margin-top: 200px;
}

#results > div {
	position:relative;
}

#results .lend-return-button {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#results span.label {
	position: absolute;
	right: 10px;
	top: 10px;
}

#breadcrumb {
}

#content {
	position: relative;
	margin-top: 92px;
	min-height: 700px;
}

#content > div {
	position: relative;
	
}

#results > div.media > div > a.pull-left {
	margin-right: 20px;
}

/* login */
#box-login {
	margin-top: 70px;
	padding: 50px 85px 50px 85px;
}

	#cg-submits{
		margin-top: 40px;
	}

		#reset-psw {
			float: right;
			margin: 10px 10px 0 0;
			color: #1b1b1b;
		}
