form span {
	font-size: 12px;
}

form > button.delete_entity {
	position: absolute;
	right: 10px;
	z-index: 10;
}

body input[type=text].ng-invalid.ng-dirty{ 
	border: 1px solid red; 
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}

.ng-invalid input[type=text],
.ng-invalid-required input[type=text],
input:focus:invalid:focus{
	color: black;
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

*[contentEditable=true] {
	font-style:italic;
}

*[contentEditable=true]:focus {
	background-color: #DDDEFD !important ;
}

.genres_list {
	position: relative;
	left: -10px;
}

.genres button {
	position: absolute;
	left: -50px;
}

.floating_list li{
	float:left;
	margin-left: 10px;
}

fieldset {
	position: relative;
}

form .form_book_img {
	position: absolute;
	top: 48px;
	right: 0px;
	height: 300px;
	width: auto;
}

form fieldset button[type=button] {
}

form fieldset section.span8,
form fieldset section.span9 {
	position: relative;
	margin-left: 0px;
}

.detailed_view .span4 > a,
.detailed_view .span4 > button {
	margin-top: 5px;
}

.detailed_view form label {
	float:left;
}

.detailed_view form fieldset span, 
.detailed_view form fieldset p {
	font-size: 14px;
	position: absolute;
	left: 220px;
}

.detailed_view form br {
	clear: both;
}

.book_location {
	width: 160px;
}

.modal {
	width: 500px;
	height: 200px;
	padding: 20px;
}

.modal  span {
	display: block;
	margin-bottom: 50px;

}

.modal button {
	margin-right: 10px
}

.no-list {
	list-style: none;
}

.horizontal-list > li {
	display: inline-block;
	margin-right: 40px;
	max-width: 110px;
	float: left;
}

.search-result{
	background-color:#f5f5f5;
	border-radius:8px;
	padding:15px;
}

.authors a{
	float: left;
	margin-right: 20px;
}

dt:after {
	content: ":";
}

dd, dt {
	float:left;
}

dd {
	margin-right: 15px;
	margin-left: 5px;
}


footer {
	margin-top: 40px;

}

footer > p {
	text-align: center;
	color: blue;
}

#results img {
	height: 100px;
	width: 100px; 
}


.jr-logo {
	text-shadow: 0 0 0.4em #FFF !important;
	color: #FFF !important;
}

#status_message,
#search_group {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#search_group {
		margin-top: 200px;
}

#results > div {
	position:relative;
}

#results .lend-return-button {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#results span.label {
	position: absolute;
	right: 10px;
	top: 10px;
}

#breadcrumb {
}

#content {
	position: relative;
	margin-top: 92px;
	min-height: 700px;
}

#content > div {
	position: relative;
	
}

#results > div.media > div > a.pull-left {
	margin-right: 20px;
}

#results > div {
	min-height: 80px; 
}
