<!doctype html>

<html lang="en" ng-app="jr.login">

<head>
	<title>JR Bibliosoft - Login</title>
	<meta charset="utf-8">
	
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style_login.css">
	<link rel="stylesheet" type="text/css" href="css/form.css">
</head>


<body ng-controller="SigninController">
 

	<div class="container row">
		<div class="navbar span9">
			<div class="navbar-inner">
				<div class="center">
					<a class="jr-logo brand" href="#">Java Raptors&reg - BiblioSoft&#8482</a>
				</div>
				
			</div>
		</div>

		<div class="span5">
			<form class="form-horizontal well css-form" name="box_login" ng-submit="signin()">

				<legend>Inicio de Sesion</legend>
		        <div class="control-group">
		            <div class="input-prepend">
		                <span class="add-on"><i class="icon-user"></i></span>
		                <input class="" placeholder="Nombre de usuario" type="text" ng-model="userName" required>		              
		            </div>
		        </div>

		        <div class="control-group">
		            <div class="input-prepend">
		                <span class="add-on"><i class="icon-lock"></i></span>
		                <input class="" placeholder="Contraseña" type="password" ng-model="password" required>
		            </div>
		        </div>
				<div class="alert alert-error" ng-show="!validation.userName || !validation.password">
					<strong>Error!</strong> Por favor verifica que la combinacion Nombre de Usuario y Password sea correcta
				</div>

				<div class="alert alert-error" ng-show="serverError">
					<strong>Error en el Servidor!</strong> Por favor verifica su conexion a Internet
				</div>						

		        <button class="btn btn-inverse" type="submit">Sign In</button>

			</form>

		</div>


		<div class="span4">
			<img src="img/books2.jpg" class="img-polaroid">
		</div>
	</div>




    <script type="text/javascript" src="scripts/vendor/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="scripts/vendor/bootstrap.js"></script>

	<script type="text/javascript" src="scripts/vendor/angular-1.1.5.js"></script>
	<script type="text/javascript" src="scripts/vendor/angular-cookies-1.1.5.js"></script>
	<script type="text/javascript" src="scripts/vendor/angular-loader-1.1.5.js"></script>
	<script type="text/javascript" src="scripts/vendor/angular-resource-1.1.5.js"></script>
	<script type="text/javascript" src="scripts/vendor/ui-bootstrap-tpls-0.6.0.js"></script>


	<script type="text/javascript" src="scripts/app_login.js"></script>
	<script type="text/javascript" src="scripts/controller/controller_login.js"></script>
	
</body>
</html>