
.no-list {
	list-style: none;
}

.horizontal-list > li {
	display: inline-block;
	margin-right: 60px;
}

.search-result{
	background-color:#EEE;
	border-radius:8px;
	padding:15px;
}


footer {
	background-color:#DDD
}


.jr-logo {
	text-shadow: 0 0 0.4em #FFF !important;
	color: #FFF !important;
}

#status_message,
#search_group {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#search_group {
		margin-top: 200px;
}

#main-content {
	top: 41px;
	position: relative;
	padding-top: 30px;
}

