<fieldset class="span12">
	<h3>Domicilio</h3>
	<div class="control-group">
		<label class="control-label">Calle: </label>
		<jr-display-and-edit ng-model="address.street" jr-placeholder="Calle"></jr-display-and-edit>
	</div>

	<div class="control-group">
		<label class="control-label">Numero: </label>
		<jr-display-and-edit ng-model="address.number" jr-placeholder="Numero"></jr-display-and-edit>
	</div>

	<div class="control-group">
		<label class="control-label">Piso: </label>
		<jr-display-and-edit ng-model="address.floor" jr-placeholder="Piso"></jr-display-and-edit>
	</div>

	<div class="control-group">
		<label class="control-label">Departamento: </label>
		<jr-display-and-edit ng-model="address.department" jr-placeholder="Depto"></jr-display-and-edit>
	</div>


	<div class="control-group">
		<label class="control-label">Ciudad: </label>
		<jr-display-and-edit ng-model="address.city" jr-placeholder="Ciudad"></jr-display-and-edit>
	</div>


	<div class="control-group">
		<label class="control-label">Provincia: </label>
		<jr-display-and-edit ng-model="address.prov" jr-placeholder="Provincia"></jr-display-and-edit>
	</div>

	<div class="control-group">
		<label class="control-label">Pais: </label>
		<jr-display-and-edit ng-model="address.country" jr-placeholder="Pais"></jr-display-and-edit>
	</div>

	<div class="control-group">
		<label class="control-label">Codigo Postal: </label>
		<jr-display-and-edit ng-model="address.cp" jr-placeholder="Codigo Postal"></jr-display-and-edit>
	</div>
	<hr/>

</fieldset>