<div class="detailed_view affiliate_view">

		<div class="row">

			<form ng-submit="save()" class="form-horizontal">
				<fieldset class="span4">
					<img class="img-polaroid" ng-src={{affiliate.img}} style="height:300px">
					<a class="btn btn-block" ng-href="#/affiliate/edit/{{affiliate.id}}" ng-if="'detailed_view' | testPathRegExp">Editar Socio</a>
					<button type="submit" class="btn btn-block" ng-if="'edit, create' | testPathRegExp">Guardar Cambios</button>
				</fieldset>



				<fieldset class="span8" ng-if="'detailed_view' | testPathRegExp">
					<h1 class="media-heading">{{affiliate.name}}</h1> 
					<h1 class="media-heading">{{affiliate.lastName}}</h1>

					<hr/>	

					<div class="alert alert-error" ng-show="affiliate.suspended">Este Socio esta deshabilitado para realizar prestamos</div>

				</fieldset>

				<fieldset class="span8">

				<h3>Datos</h3>

					<div class="control-group">
						<label  class="control-label">Legajo: </label>
						<span>{{affiliate.id}}</span>
					</div>

	 				<div class="control-group" ng-if="'edit, create' | testPathRegExp">
						<label class="control-label">Apellido*: </label>
						<jr-display-and-edit ng-model="affiliate.lastName" jr-placeholder="Apellido" required></jr-display-and-edit>
					</div>

	 				<div class="control-group" ng-if="'edit, create' | testPathRegExp">
						<label class="control-label">Nombre*: </label>
						<jr-display-and-edit ng-model="affiliate.name" jr-placeholder="Nombre" required></jr-display-and-edit>
					</div>

	 				<div class="control-group">
						<label class="control-label">DNI*: </label>
						<jr-display-and-edit ng-model="affiliate.dni" jr-placeholder="DNI" required></jr-display-and-edit>
					</div>

	 				<div class="control-group">
						<label class="control-label">Mail*: </label>
						<jr-display-and-edit ng-model="affiliate.email" jr-placeholder="Mail" link="mailto:{{affiliate.email}}" required type="email">
						</jr-display-and-edit>
					</div>

	 				<div class="control-group">
						<label class="control-label">Teléfono*: </label>
						<jr-display-and-edit ng-model="affiliate.tel" jr-placeholder="Teléfono" required></jr-display-and-edit>
					</div>

	 				<div class="control-group">
						<label class="control-label">Celular: </label>
						<jr-display-and-edit ng-model="affiliate.cel" jr-placeholder="Celular"></jr-display-and-edit>
					</div>

	 				<div class="control-group">
						<label class="control-label">Reputación: </label>
						<jr-display-and-edit ng-model="affiliate.reputation" jr-placeholder="Reputación"></jr-display-and-edit>
					</div>

	 				<div class="control-group" ng-if="'detailed_view' | testPathRegExp">
						<label class="control-label">Habilitado:</label>
						<span>{{affiliate.suspended | not | checkmark}}</span>
					</div>

	 				<div class="control-group">
						<label class="control-label">Foto: </label>
						<jr-display-and-edit ng-model="affiliate.img" jr-placeholder="Foto"></jr-display-and-edit>
					</div>
				</fieldset>

				<p ng-if="'edit, create' | testPathRegExp">Los campos marcados con * son obligatorios</p>

				<fieldset class="span12"><hr/></fieldset>

				<jr-address-form ng-model="affiliate.address"></jr-address-form>

				<fieldset class="span9">
					<div class="span12">
						<h3>Prestamos vigentes de {{affiliate.name}}

						</h3> 
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Ejemplar - Libro</th>
									<th>Tipo de Prestamo</th>
									<th>Fecha de Prestamo</th>
									<th>Fecha de Devolucion Esperada</th>		
									<th>Comentarios del prestamo</th>
								</tr>
							</thead>

							<tbody>
								<tr ng-repeat="lend in affiliate.lends">

									<td>
										<a ng-href="#/book/detailed_view/{{lend.copy.id}}" href="#/book/detailed_view/{{lend.copy.id}}">
											{{lend.copy.id}} - {{lend.copy.title}}
										</a>
									</td>

									<td>
										{{lend.type}}
									</td>

													
									<td>
										{{lend.lendingDate | date:'dd-MM-yy'}}
									</td>

									<td>
										{{lend.expectedReturnDate | date:'dd-MM-yy'}}
									</td>	

									<td>
										{{lend.comments}}
									</td>
									
								</tr>
						  </tbody>
						</table>
					</div>
				</fieldset>


				<jr-audit ng-model="affiliate.audit"></jr-audit>


				<fieldset class="span12" ng-if="'edit' | testPathRegExp">
					<button type="button" class="btn delete_affiliate" ng-click="open_modal_delete()">
						<i class="icon-remove"></i> Borrar el Socio
					</button>

					<hr/>
				</fieldset>

			</form>

		</div>
</div>
