<fieldset class="span12">

	<h3>Auditoria</h3>

	<div class="control-group">
		<label class="control-label">Creacion: </label>
		<label class="control-label">{{model.createDate | date:'dd/MM/yyyy'}}</label>
	</div>


	<div class="control-group">
		<label class="control-label">Usuario Creador: </label>
		<label class="control-label">{{model.createUser}}</label>
	</div>


	<div class="control-group">
		<label class="control-label">Ultima Edicion: </label>
		<label class="control-label">{{model.editDate | date:'dd/MM/yyyy'}}</label>					
	</div>


	<div class="control-group">
		<label class="control-label">Usuario Editor: </label>
		<label class="control-label">{{model.editUser}}</label>					
	</div>	

	<hr/>

</fieldset>