<div class="detailed_view book_view">


	<div class="row">


		<form ng-submit="save()">

			<fieldset class="span8">
				<h1 class="media-heading" contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="author.nick" title="Click to edit">
					{{author.nick}}
				</h1>


				<hr/>

				<h3>Datos</h3>

				<section class="span8">
					<label>ISNI: </label>
					<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="author.isni" title="Click to edit">{{author.isni}}</span>
				</section>

				<section class="span8">
					<label>Fecha de Nacimiento: </label>
					<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="author.birth" title="Click to edit">{{author.birth}}</span>
				</section>

				<section class="span8">
					<label>Comentarios: </label>
					<p contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="author.comments" title="Click to edit">{{author.comments}}</p>
				</section>

				<hr/>

			</fieldset>


			<fieldset class="span4">
				<a class="btn btn-block" ng-href="#/author/edit/{{author.id}}" ng-if="'detailed_view' | testPathRegExp">Editar Autor</a>
				<button type="submit" class="btn btn-block" ng-if="'edit, create' | testPathRegExp">Guardar Cambios</button>
			</fieldset>			

			<fieldset class="span9 authors-books">

				<h3>
					Libros
					<button class="btn" type="button"><i class="icon-plus-sign" ng-click="add_book()"></i></button>
				</h3>

				<section ng-repeat="book in author.books" class="span9">

					<span ng-if="'edit, create' | testPathRegExp" ng-model="book.title" contentEditable="{{'edit, create' | testPathRegExp}}">
						{{book.title}}
						<button class="btn" ng-click="rmv_book($index)"><i class="icon-minus-sign"></i></button>
					</span>

					<a ng-if="'detailed_view' | testPathRegExp" ng-href="#/book/detailed_view/{{book.id}}">
						<h5>{{book.title}}</h5>
					</a>
				</section>


			</fieldset>

			<fieldset class="span9">
				<h3>Auditoria</h3>

				<section class="span9">
				<label>Fecha y Hora de Alta: </label>
				<span>{{author.creationDate}}</span>
				</section>


				<section class="span9">
					<label>Usuario disparador Alta: </label>
					<span>{{author.creationUser}}</span>
				</section>


				<section class="span9">
					<label>Fecha y Hora Ultima Edicion: </label>
					<span>{{author.editDate}}</span>					
				</section>


				<section class="span9">
					<label>Usuario Editor: </label>
					<span>{{author.editUser}}</span>					
				</section>								

			</fieldset>

			<fieldset class="span9" ng-if="'edit' | testPathRegExp" ng-controller="RmvController">
				<hr/>
				<button type="button" class="btn delete_entity" ng-click="open_modal_delete()"><i class="icon-remove"></i>Borrar Autor</button>
				<hr/>
			</fieldset>


		</form>

	</div>

 

</div>