<div class="detailed_view book_view">


	<div class="row">


		<form ng-submit="save()" class="form-horizontal">

			<fieldset class="span12" ng-if="'detailed_view' | testPathRegExp">
				<h1 class="media-heading">{{author.nick}}</h1>
				<hr/>

			</fieldset>


			<fieldset class="span12">
				<h3>Datos</h3>



 				<div class="control-group" ng-if="'edit, create' | testPathRegExp">
					<label class="control-label">Nombre y Apellido: </label>
					<jr-display-and-edit ng-model="author.nick" jr-placeholder="Nombre y Apellido"></jr-display-and-edit>
				</div>

 				<div class="control-group">
					<label class="control-label">ISNI: </label>
					<jr-display-and-edit ng-model="author.isni" jr-placeholder="ISNI"></jr-display-and-edit>
				</div>

				<!--
				 //http://es.wikipedia.org/wiki/ISO_8601 
			    <div class="control-group" ng-controller="DatePickerController">
			    	<label class="control-label">Fecha de Nacimiento: </label>
			    	<div class="controls">
			        	<input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="author.birth" is-open="opened" max="'2015-06-22'"/>
			        	<button class="btn" type="button" ng-click="open()"><i class="icon-calendar"></i></button>
			        </div>
			    </div>

			    -->


 				<div class="control-group">
					<label class="control-label">Comentarios: </label>
					<jr-display-and-edit ng-model="author.comments" jr-placeholder="Comentarios"></jr-display-and-edit>
				</div>

				<hr/>

			</fieldset>


	

			<fieldset class="span12">

				<h3>
					Libros
				</h3>

				<section ng-repeat="book in author.books">

					<a ng-href="#/book/detailed_view/{{book.id}}">
						<h5>{{book.title}}</h5>
					</a>
				</section>

				<hr/>
			</fieldset>

			<jr-audit ng-model="author.audit"></jr-audit>


			<fieldset class="span12">
				<a class="btn" ng-href="#/author/edit/{{author.id}}" ng-if="'detailed_view' | testPathRegExp">Editar Autor</a>
				<button type="submit" class="btn" ng-if="'edit, create' | testPathRegExp">Guardar Cambios</button>
				<hr/>
			</fieldset>		

			<fieldset class="span9" ng-if="'edit' | testPathRegExp" ng-controller="RmvController">
				<button type="button" class="btn delete_entity" ng-click="open_modal_delete()"><i class="icon-remove"></i>Borrar Autor</button>
				<hr/>
			</fieldset>


		</form>

	</div>

 

</div>