<div class="detailed_view book_view">


	<div class="row">


		<form ng-submit="save()">

			<fieldset class="span8">
				<h1 class="media-heading" contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="author.nick" title="Click to edit">
					{{author.nick}}
				</h1>


				<hr/>

				<h3>Datos</h3>
				<label>ISNI: </label>
				<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="author.isni" title="Click to edit">{{author.isni}}</span>
				<br/>

				<label>Fecha de Nacimiento: </label>
				<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="author.birth" title="Click to edit">{{author.birth}}</span>
				<br/>

				<label>Comentarios: </label>
				<p contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="author.comments" title="Click to edit">{{author.comments}}</p>
				<br/>

				<hr/>

			</fieldset>


			<fieldset class="span4">
				<a class="btn btn-block" ng-href="#/author/edit/{{author.id}}" ng-if="'detailed_view' | testPathRegExp">Editar Autor</a>
				<button type="submit" class="btn btn-block" ng-if="'edit, create' | testPathRegExp">Guardar Cambios</button>
			</fieldset>			

			<fieldset class="span9">

				<h3>Libros</h3>

				<section ng-repeat="book in author.books">
					<a ng-href="#/book/detailed_view/{{book.id}}">
						<h5>{{book.title}}</h5>
					</a>
				</section>


			</fieldset>

			<fieldset class="span9">
				<h3>Auditoria</h3>

				<label>Fecha y Hora de Alta: </label>
				<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="author.creationDate">{{author.creationDate}}</span>
				</br>

				<label>Usuario disparador Alta: </label>
				<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="author.creationUser">{{author.creationUser}}</span>					
				</br>

				<label>Fecha y Hora Ultima Edicion: </label>
				<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="author.editDate">{{author.editDate}}</span>					
				</br>

				<label>Usuario Editor: </label>
				<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="author.editUser">{{author.editUser}}</span>					
				</br>														

			</fieldset>

			<fieldset class="span9">
				<hr/>
				<button type="button" class="btn delete_entity" ng-click="open_modal_delete()"><i class="icon-remove"></i>Borrar Autor</button>
				<hr/>
			</fieldset>


		</form>

	</div>

 

</div>