<form>

	<fieldset>
		<legend>Libro</legend>
		<label>Titulo</label>
		<input type="text" placeholder="Type something…">
		<label>ISBN</label>
		<input type="text" placeholder="Type something…">
		<label>Portada</label>
		<input type="text" placeholder="Type something…">
		<label>Idioma</label>
		<input type="text" placeholder="Type something…">
	</fieldset>


	<fieldset>
		<legend>Autores</legend>
		<label>Autores</label>
		<input type="text" placeholder="Type something…">
	</fieldset>


	
	<fieldset>
		<legend>Editorial</legend>
		<label>Editorial</label>
		<input type="text" placeholder="Type something…">
		<label>Numero de Edicion</label>
		<input type="text" placeholder="Type something…">
		<label>Pais de Edicion</label>
		<input type="text" placeholder="Type something…">
	</fieldset>

	
	<fieldset>
		<legend>Ejemplares</legend>	
		<label>Ejemplares</label>
		<input type="text" placeholder="Type something…">
	</fieldset>

	
	<fieldset>
		<legend>Valoracion</legend>	
		<label>Valuacion</label>
		<input type="text" placeholder="Type something…">
		<label>Precio</label>
		<input type="text" placeholder="Type something…">
	</fieldset>


		
	<fieldset>
		<legend>Comentarios</legend>
		<label>Comentarios</label>
		<textarea rows="3"></textarea>
	</fieldset>

	<fieldset>
		<button type="submit" class="btn">Submit</button>
	</fieldset>

</form>
