<span class="label" ng-class="result.type | toClassLabel">{{result.type | translate}}</span>
<a class="pull-left" href="#">
	<img class="media-object" ng-src={{result.img}}>
</a>
<div class="media-body">

	<a ng-href="#/book/detailed_view/{{result.id}}"><h4 class="media-heading">{{result.title}}</h4></a>

	<div class="authors clearfix" >			
		<a ng-repeat="author in result.authors" href={{author.link}}>
			<h5 class="media-heading">{{author.name}}</h5>
		</a>
	</div>
	

	<h5 ng-show="result.type == 'copy'">ID: {{result.id}}</h5>


	<dl class="snippet_spec" compact>
		<dt>Disponibilidad</dt>
		<dd ng-show="result.type == 'copy'">{{result.lend | hasAttribute | negation | checkmark}}</dd>
		<dd ng-hide="result.type == 'copy'">{{result.copys | availableToLendCopys }}/{{result.copys.length}}</dd>

		<dt>Edicion</dt>
		<dd>{{result.editionNumber}}</dd>

		<dt>Editorial</dt>
		<dd><a ng-href="{{result.editorial.link}}" target="_blank">{{result.editorial.name}}</a></dd>

		<dt>ISBN</dt>
		<dd>{{result.isbn}}</dd>
	</dl>


	<button title="{{result.lend | hasAttribute | copysToAction}}" class="btn btn-inverse btn-large" type="button" ng-show="result.type == 'copy'">
		<i class="icon-white" ng-class="result.lend | hasAttribute | copysToClass"></i>
	</button>

</div>