<span class="label" ng-class="result.type | toClassLabel">{{result.type | translate}}</span>
<a class="pull-left" href="#">
	<img class="media-object" ng-src={{result.img}}>
</a>
<div class="media-body">

	<a ng-href="#/book/detailed_view/{{result.id}}"><h4 class="media-heading">{{result.title}}</h4></a>

	<div class="authors clearfix" >			
		<a ng-repeat="author in result.authors" ng-href="#/author/detailed_view/{{author.id}}" target="_blank">
			<h5 class="media-heading">{{author.nick}}</h5>
		</a>
	</div>
	

	<h5 ng-if="result.type == 'copy'">ID: {{result.id}}</h5>


	<dl class="snippet_spec" compact>
		<dt>Disponibilidad</dt>
		<dd ng-if="result.type == 'copy'">{{result.lend | hasAttribute | not | checkmark}}</dd>
		<dd ng-if="result.type == 'book'">{{result.copies | availableToLendCopys }}/{{result.copies.length}}</dd>

		<dt>Edicion</dt>
		<dd>{{result.editionNumber}}</dd>

		<dt>Editorial</dt>
		<dd><a ng-href="#/editorial/detailed_view/{{result.editorial.id}}" target="_blank">{{result.editorial.name}}</a></dd>

		<dt>ISBN</dt>
		<dd>{{result.isbn}}</dd>
	</dl>


	<a ng-href="#/book/{{result.lend | hasAttribute | not | boolToLendReturn}}/{{result.id}}" title="{{result.lend | hasAttribute | copysToAction}}" 
		class="lend-return-button btn btn-inverse btn-large" type="button" ng-if="result.type == 'copy'">
		<i class="icon-white" ng-class="result.lend | hasAttribute | copysToClass"></i>
	</a>

	<a ng-href="#/book/edit/{{result.id}}" title="Editar" class="lend-return-button btn btn-inverse btn-large" type="button" ng-if="result.type == 'book'">
		Editar
	</a>

</div>