<div class="detailed_view">


		<div class="row">
			<div class="span4">
				<img class="img-polaroid" ng-src={{book.img}} style="height:300px">
				<a class="btn btn-block" ng-href="#/book/edit/{{book.id}}">Editar Libro</a>
			</div>
			<div class="span8">
				<a ng-href="#/book/detailed_view/{{book.id}}"><h1 class="media-heading">{{book.title}}</h1></a>
				<div class="authors clearfix" >			
					<a ng-repeat="author in book.authors" ng-href="#/author/detailed_view/{{author.id}}" target="_blank">
						<h3 class="media-heading">{{author.name}}</h3>
					</a>
				</div>

				<hr/>
				<h3>Resumen</h3>
				<p>{{book.summary}}</p>
				<hr/>

				<h3>Datos</h3>
				<span>ISBN: </span><span>{{book.isbn}}</span>
				<br/>
				<span>Editorial: </span><span><a ng-href="#/editorial/detailed_view/{{book.editorial.id}}" target="_blank">{{book.editorial.name}}</a></span>
				<br/>
				<span>Edición: </span><span>{{book.editionNumber}}</span>
				<br/>
				<span>Idioma: </span><span>{{book.lang}}</span>
				<br/>
				<span>Precio: </span><span>{{book.price}}</span>
				<br/>
				<span>Géneros: </span>
				<span>
					<span ng-repeat="genre in book.genres">{{genre.name}} </span>
				</span>


			</div>
		</div>

		<div class="row">
			<div class="span12">
				<hr/>
				<h3> Ejemplares </h3> 
				<table class="table table-hover">
					<thead>
						<tr>
							<th># Serie</th>
							<th>Disponible</th>
							
							<th>Ubicación</th>
							<th>Usuario Prestado</th>

							<th>Año de Edicion</th>		
							<th>Tipo de Prestamo</th>

							<th>Estado Fisico</th>
							<th>Comentarios</th>
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="copy in book.copys">
							<td>{{copy.id}}</td>
							<td>{{copy.lend | hasAttribute | not | checkmark}}</td>


							<td>{{copy.location.shelves}}, {{copy.location.shelf}}</td>
							<td>{{copy.lend.affiliate.lastName}} {{copy.lend.affiliate.name}}</td>
												
							<td>{{copy.editionYear}}</td>
							<th>{{copy.lendType}}</th>	

							<td>{{copy.state}}</td>
							<td>{{copy.comments}}</td>
						</tr>
				  </tbody>
				</table>
			</div>
		</div>



   
  

 

</div>