<form ng-submit="save()">

	<button type="button" class="btn delete_entity" ng-click="open_modal_delete()"><i class="icon-remove"></i> Borrar el Libro</button>


	<fieldset>
		<legend>Libro</legend>
		<label>Titulo</label>
		<input type="text" placeholder="Type something…" ng-model="book.title">
		<label>ISBN</label>
		<input type="text" placeholder="Type something…" ng-model="book.isbn">
		<label>Portada</label>
		<input type="text" placeholder="Type something…" ng-model="book.img">
		<label>Idioma</label>
		<input type="text" placeholder="Type something…" ng-model="book.lang">

		<img  class="form_book_img" ng-src={{book.img}}>
	</fieldset>


	<fieldset>
		<legend>Autores <button type="button" class="btn" ng-click="add_author()"><i class="icon-plus-sign"></i></button></legend>
		<ul class="unstyled">
			<li ng-repeat="author in book.authors">
				<div class="input-prepend input-append">
					<label class="add-on">{{$index + 1}}</label>
					<input class="span2" type="text" ng-model="author.name" typeahead="d for d in dummys_authors | filter:$viewValue" 
						typeahead-loading="dummys_authors" typeahead-min-length='1'>
					<button class="btn" ng-click="rm_author($index)"><i class="icon-minus-sign"></i>
				</div>
			</li>
		</ul>
		
		
	</fieldset>


	
	<fieldset>
		<legend>Editorial</legend>
		<label>Editorial</label>
		<input type="text" placeholder="Type something…" ng-model="book.editorial.name" typeahead="e.name for e in editorials | filter:$viewValue">
		<label>Numero de Edicion</label>
		<input type="text" placeholder="Type something…" ng-model="book.editionNumber">
		<label>Pais de Edicion</label>
		<input type="text" placeholder="Type something…" ng-model="book.editionCountry">
	</fieldset>

	
	<fieldset>
		<legend>Ejemplares <button type="button" class="btn" ng-click="add_copy()"><i class="icon-plus-sign"></i></button></legend>	
		<table class="table table-hover">
			<thead>
				<tr>
					<th># Serie</th>
					<th>Disponible</th>
					
					<th>Ubicación</th>
					<th>Usuario Prestado</th>

					<th>Año de Edicion</th>		
					<th>Tipo de Prestamo</th>

					<th>Estado Fisico</th>
					<th>Comentarios</th>
					<th>Borrar</th>
					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="copy in book.copys">
					<td>{{copy.id}}</td>
					<td><input type="text" ng-model="copy.lend" class="input-mini"></input></td>


					<td><input type="text" ng-model="copy.location.shelves" class="input-mini"></input>,
						<input type="text" ng-model="copy.location.shelf" class="input-mini"></input></td>
					<td>{{copy.lend.affiliate.lastName}} {{copy.lend.affiliate.name}}</td>
										
					<td><input type="text" ng-model="copy.editionYear"></input></td>
					<td>
						<label class="radio">
							<input type="radio" name="optionsRadios{{$index}}" value="foreign" ng-model="copy.lendType" ng-checked="copy.lendType == 'foreign'">
							Domiciliario
						</label>
						<label class="radio">
							<input type="radio" name="optionsRadios{{$index}}" value="local" ng-model="copy.lendType" ng-checked="copy.lendType == 'local'">
							Local
						</label>
					</td>

					<td><input type="text" ng-model="copy.state" class="input-mini"></input></td>
					<td><input type="text" ng-model="copy.comments"></input></td>

					<td><button class="btn" ng-click="rm_copy($index)"><i class="icon-minus-sign"></i></button></td>
				</tr>
		  	</tbody>
		</table>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>#Serie</th>
					<th>Estado Fisico</th>
					<th>Año de Edicion</th>
					<th>Tipo de Prestamo</th>
					<th>Comentarios</th>
					
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="copy in book.copys">
					<td><span>{{copy.id}}</span></td>
					
					

					
					
				</tr>
			</tbody>
		</table>
	</fieldset>

	
	<fieldset>
		<legend>Valoracion</legend>	
		<label>Valuacion</label>
		<input type="text" placeholder="Type something…" ng-model="book.val">
		<label>Precio</label>
		<input type="text" placeholder="Type something…" ng-model="book.price">
	</fieldset>


		
	<fieldset>
		<legend>Comentarios</legend>
		<textarea rows="3" ng-model="book.comments"></textarea>
	</fieldset>

	<fieldset>
		<button type="submit" class="btn">Save</button>
	</fieldset>

</form>
