<span class="label" ng-class="result.type | toClassLabel">{{result.type | translate}}</span>
<a class="pull-left" href="#">
	<img class="media-object" ng-src={{result.img}} width=100>
</a>
<div class="media-body">

	<a ng-href="#/book/detailed_view/{{result.id}}"><h4 class="media-heading">{{result.title}}</h4></a>

	<div class="authors clearfix" >			
		<a ng-repeat="author in result.authors" href={{author.link}}>
			<h5 class="media-heading">{{author.name}}</h5>
		</a>
	</div>
	

	<h5 ng-show="result.type == 'copy'">ID: {{result.id}}</h5>


	<dl class="snippet_spec" compact>
		<dt>Disponibilidad</dt>
		<dd ng-show="result.type == 'copy'">{{result.lend.length == 0}}</dd>
		<dd ng-hide="result.type == 'copy'">2/3</dd>

		<dt>Edicion</dt>
		<dd>{{result.editionNumber}}</dd>

		<dt>Editorial</dt>
		<dd><a ng-href="{{result.editorial.link}}" target="_blank">{{result.editorial.name}}</a></dd>

		<dt>ISBN</dt>
		<dd>{{result.isbn}}</dd>


	</dl>

</div>