<div class="detailed_view book_view">


	<div class="row">

		<!-- http://getbootstrap.com/2.3.2/base-css.html#forms-->
		<form ng-submit="save()" class="form-horizontal">

			<fieldset class="span8" ng-if="'detailed_view' | testPathRegExp">

				<h1 class="media-heading" ng-bind="editorial.name" ></h1>

				<hr/>

			</fieldset>


			<fieldset class="span8">


				<h3>Datos</h3>

 				<div class="control-group" ng-if="'edit, create' | testPathRegExp">
					<label class="control-label">Nombre*: </label>
					<jr-display-and-edit ng-model="editorial.name" jr-placeholder="Nombre"></jr-display-and-edit>
				</div>

 				<div class="control-group" >
					<label class="control-label">Razon Social*: </label>
					<jr-display-and-edit ng-model="editorial.legal_name" jr-placeholder="Razon Social"></jr-display-and-edit>
				</div>


 				<div class="control-group" >
					<label class="control-label">Telefono*: </label>
					<jr-display-and-edit ng-model="editorial.tel" jr-placeholder="Telefono"></jr-display-and-edit>
				</div>

 				<div class="control-group" >
					<label class="control-label">Email: </label>
					<jr-display-and-edit ng-model="editorial.email" jr-placeholder="Email"></jr-display-and-edit>
				</div>

 				<div class="control-group" >
					<label class="control-label">Sitio Web: </label>
					<jr-display-and-edit ng-model="editorial.web" jr-placeholder="Web"></jr-display-and-edit>
				</div>

				<div class="control-group">
					<label class="control-label">CUIL*: </label>
					<jr-display-and-edit ng-model="editorial.cuit_cuil" jr-placeholder="Cuil"></jr-display-and-edit>
				</div>

				<hr/>

				<p ng-if="'edit, create' | testPathRegExp">Los campos marcados con * son obligatorios</p>

			</fieldset>


			<jr-address-form ng-model="editorial.address"></jr-address-form>


			<fieldset class="span12">

				<h3>
					Libros
				</h3>

				<section ng-repeat="book in editorial.books">

					<a ng-href="#/book/detailed_view/{{book.id}}">
						<h5>{{book.title}}</h5>
					</a>
				</section>

				<hr/>
			</fieldset>

	
			<jr-audit ng-model="editorial.audit"></jr-audit>


			<fieldset class="span9">
				<a class="btn" ng-href="#/editorial/edit/{{editorial.id}}" ng-if="'detailed_view' | testPathRegExp">Editar Usuario</a>
				<button type="submit" class="btn " ng-if="'edit, create' | testPathRegExp">Guardar Cambios</button>
			</fieldset>		


			<fieldset class="span9" ng-if="'edit' | testPathRegExp" ng-controller="RmvController">
				<hr/>
				<button type="button" class="btn delete_entity" ng-click="open_modal_delete()"><i class="icon-remove"></i>Borrar Autor</button>
				<hr/>
			</fieldset>


		</form>

	</div>

 

</div>