<span class="label" ng-class="result.type | toClassLabel">{{result.type | translate}}</span>

<div class="media-body">

	<a ng-href="#/editorial/detailed_view/{{result.id}}">
		<h4 class="media-heading">{{result.name}}</h4>
	</a>

	<dl class="snippet_spec" compact>

		<dt>Razon Social</dt>
		<dd>{{result.legal_name}}</dd>

		<dt>CUIT/CUIL</dt>
		<dd>{{result.cuit_cuil}}</dd>

		<dt>Contacto</dt>
		<dd>{{result.tel}}</dd>
		<dd>{{result.email}}</dd>

	</dl>

	
	<a ng-href="#/editorial/edit/{{result.id}}" title="Editar" class="lend-return-button btn btn-inverse btn-large" type="button">
		Editar
	</a>

</div>