<div class="text-center" style="margin: 0 0 20px;">
	<a ng-href="#/report/lends" href="#/report/lends">
		<button class="btn btn-large btn-inverse" type="button" title="Listado con la cantidad total de retiros de libros realizada durante los últimos 12 meses."> <i class="icon-info-sign icon-white"></i>  Retiros
		</button>
	</a>
	<a ng-href="#/report/late_returns" href="#/report/late_returns">
		<button class="btn btn-large btn-inverse active" type="button" ng-click="funcion()" title="Libros cuya fecha de devolución es anterior a la fecha actual pero que aún no han sido devueltos.">
			<i class="icon-warning-sign icon-white"></i>   Devoluciones en mora
		</button>
	</a>
	<a ng-href="#/report/top" href="#/report/top">
		<button class="btn btn-large btn-inverse" type="button" ng-click="funcion()" title="Listado con los 10 libros más retirados. Cada uno de ellos deberán emitirse con un título, fecha y usuario que lo emitió.">
			<i class="icon-star icon-white"></i>   Libros más retirados <!-- icon-star-empty -->
		</button>
	</a>
</div>

<p class="text-center" style="margin: 0 0 20px;">Libros cuya fecha de devolución es anterior a la fecha actual pero que aún no han sido devueltos.</p>
{{reportLateReturns	}}
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>Titulo del libro</th>
			<th>Autores del Libro</th>
			<th>ID / Serie del Ejemplar</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="result in reportLateReturns">
			<td>
				<a ng-href="#/book/detailed_view/{{result.id}}" 
				href="#/book/detailed_view/{{result.id}}">
					{{ result.title }}
				</a>
			</td>
			<td>
				<a ng-repeat="author in result.authors" ng-href="#/author/detailed_view/{{author.id}}" 
				href="#/author/detailed_view/{{author.id}}">
					{{ author.name }}
				</a>
			</td>		
			<td>
				{{result.copy_id}}
			</td>
		</tr>
	</tbody>
</table>