<div class="detailed_view book_view">


	<div class="row">


		<form ng-submit="save()">

			<fieldset class="span8">
				<h1 class="media-heading" contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="user.lastName" title="Click to edit">
					{{user.lastName}}
				</h1>
				<h2 class="media-heading" contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="user.name" title="Click to edit">
					{{user.name}}
				</h2>

				<hr/>

				<h3>Datos</h3>


				<section class="span8">
					<label>Email (usuario): </label>
					<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="user.email" title="Click to edit">{{user.email}}</span>
				</section>

				<section class="span8">
					<label>Password: </label>
					<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="user.dni" title="Click to edit">{{user.password}}</span>
				</section>


				<hr/>

				<section class="span8">
					<label>DNI: </label>
					<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="user.dni" title="Click to edit">{{user.dni}}</span>
				</section>

				<section class="span8">
					<label>CUIL: </label>
					<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="user.cuil" title="Click to edit">{{user.cuil}}</span>
				</section>

				<section class="span8">
					<label>Rol: </label>
					<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="user.rol" title="Click to edit">{{user.rol}}</span>
				</section>				


				<section class="span8">
					<label>Telefono: </label>
					<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="user.tel" title="Click to edit">{{user.tel}}</span>
				</section>
				<section class="span8">
					<label>Celular: </label>
					<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="user.cel" title="Click to edit">{{user.cel}}</span>
				</section>
				<section class="span8 address">
					<label>Direccion: </label>
					<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="user.street" title="Click to edit">{{user.street}}</span>
					<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="user.streetNumber" title="Click to edit">{{user.street_number}}</span>
					<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="user.department" title="Click to edit">{{user.department}}</span>
					<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="user.floor" title="Click to edit">{{user.floor}}</span>
				</section>


				<section class="span8">
					<label>Fecha de Nacimiento: </label>
					<span contentEditable="{{'edit, create' | testPathRegExp}}" ng-model="user.birth" title="Click to edit">{{user.birth}}</span>
				</section>

				<hr/>

			</fieldset>


			<fieldset class="span4">
				<a class="btn btn-block" ng-href="#/user/edit/{{user.id}}" ng-if="'detailed_view' | testPathRegExp">Editar Usuario</a>
				<button type="submit" class="btn btn-block" ng-if="'edit, create' | testPathRegExp">Guardar Cambios</button>
			</fieldset>			

	
			<fieldset class="span9">
				<h3>Auditoria</h3>

				<section class="span9">
				<label>Fecha y Hora de Alta: </label>
				<span>{{user.creationDate}}</span>
				</section>


				<section class="span9">
					<label>Usuario disparador Alta: </label>
					<span>{{user.creationUser}}</span>
				</section>


				<section class="span9">
					<label>Fecha y Hora Ultima Edicion: </label>
					<span>{{user.editDate}}</span>					
				</section>


				<section class="span9">
					<label>Usuario Editor: </label>
					<span>{{user.editUser}}</span>					
				</section>								

			</fieldset>

			<fieldset class="span9" ng-if="'edit' | testPathRegExp" ng-controller="RmvController">
				<hr/>
				<button type="button" class="btn delete_entity" ng-click="open_modal_delete()"><i class="icon-remove"></i>Borrar Autor</button>
				<hr/>
			</fieldset>


		</form>

	</div>

 

</div>