<div class="detailed_view book_view">


	<div class="row">

		<!-- http://getbootstrap.com/2.3.2/base-css.html#forms-->
		<form ng-submit="save()" class="form-horizontal">

			<fieldset class="span8" ng-if="'detailed_view' | testPathRegExp">

				<h1 class="media-heading" ng-bind="user.lastName" ></h1>
				<h2 class="media-heading" ng-bind="user.name"></h2>

				<hr/>

			</fieldset>


			<fieldset class="span8">


				<h3>Datos</h3>

 				<div class="control-group" ng-if="'edit, create' | testPathRegExp">
					<label class="control-label">Apellido: </label>
					<jr-display-and-edit ng-model="user.lastName" jr-placeholder="Apellido"></jr-display-and-edit>
				</div>

 				<div class="control-group" ng-if="'edit, create' | testPathRegExp">
					<label class="control-label">Nombre: </label>
					<jr-display-and-edit ng-model="user.name" jr-placeholder="Nombre"></jr-display-and-edit>
				</div>


 				<div class="control-group" >
					<label class="control-label">Email (usuario): </label>
					<jr-display-and-edit ng-model="user.email" jr-placeholder="Email"></jr-display-and-edit>
				</div>

				<div class="control-group">
					<label class="control-label">DNI: </label>
					<jr-display-and-edit ng-model="user.dni" jr-placeholder="Dni"></jr-display-and-edit>
				</div>

				<div class="control-group">
					<label class="control-label">CUIL: </label>
					<jr-display-and-edit ng-model="user.cuil" jr-placeholder="Cuil"></jr-display-and-edit>
				</div>

				<div class="control-group">
					<label class="control-label">Rol: </label>
					<jr-display-and-edit ng-model="user.rol" jr-placeholder="Rol"></jr-display-and-edit>
				</div>				

				<div class="control-group">
					<label class="control-label">Telefono: </label>
					<jr-display-and-edit ng-model="user.tel" jr-placeholder="Telefono"></jr-display-and-edit>
				</div>

				<div class="control-group">
					<label class="control-label">Celular: </label>
					<jr-display-and-edit ng-model="user.cel" jr-placeholder="Celular"></jr-display-and-edit>
				</div>

				<div class="control-group">
					<label class="control-label">Fecha de Nacimiento: </label>
					<jr-display-and-edit ng-model="user.birth" jr-placeholder="Fecha de Nacimiento"></jr-display-and-edit>
				</div>

				<hr/>

			</fieldset>

			<jr-address-form ng-model="user.address"></jr-address-form>

	

			<fieldset class="span8" ng-if="'edit, create' | testPathRegExp">

				<h3>Acceso</h3>

				<div class="control-group">
					<label class="control-label">Ingresa tu contrasañea: </label>
					<jr-display-and-edit ng-model="user.password" jr-placeholder="Contraseña" type="password"></jr-display-and-edit>
				</div>

				<div class="control-group">
					<label class="control-label">Repita su contraseña: </label>
					<jr-display-and-edit ng-model="password_verification" jr-placeholder="Contraseña" type="password"></jr-display-and-edit>
				</div>
				<hr/>

			</fieldset>

			<jr-audit ng-model="user.audit"></jr-audit>

			<fieldset class="span8">
				<a class="btn" ng-href="#/user/edit/{{user.id}}" ng-if="'detailed_view' | testPathRegExp">Editar Usuario</a>
				<button type="submit" class="btn " ng-if="'edit, create' | testPathRegExp">Guardar Cambios</button>
			</fieldset>		


			<fieldset class="span8" ng-if="'edit' | testPathRegExp" ng-controller="RmvController">
				<hr/>
				<button type="button" class="btn delete_entity" ng-click="open_modal_delete()"><i class="icon-remove"></i>Borrar Autor</button>
				<hr/>
			</fieldset>


		</form>

	</div>

 

</div>